@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600&display=swap'); 
body {
  font-family: 'Prompt';
}

.safe-area-view {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

#__next p {
  word-break: break-word;
}